#banner{
    height: 200px;
    width: 100%;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

#package_img{
    height: 100%;
    background: grey;
}

.page_heading{
    font-size: 40px;
    font-weight: 700;
}

.heading_1{
    font-size: 25px;
    font-weight: 600;
}

.heading_2{
    font-size: 20px;
    font-weight: 600;
}