#banner{
    height: 250px;
    width: 100%;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_heading{
    font-size: 20px;
    font-weight: 700;
}