html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

.alert-danger>a {
    color: deepskyblue;
    font-weight: bolder;
}

/* Dashboard Home Page */


/* Select Package Page */
.select_package_id{
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid white;
}

.select_package_id:hover{
    cursor: pointer;
    border: 2px solid deepskyblue;
}

.plan_box:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.plan_box.selected{
    background-color: antiquewhite;
}