html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 2px;
}

.alert-danger>a {
    color: deepskyblue;
    font-weight: bolder;
}

/* Dashboard Home Page */
.right-bar {
    margin-top: 10px;
}

.card_heading {
    font-size: 22px;
    font-weight: 700;
}

.card_data {
    font-size: 20px;
    font-weight: 600;
}

.tittles {
    margin-left: 10px;
    margin-right: 10px;
}

#package_mrp {
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 600;
    float: none;
    line-height: normal;
}

/* Select Package Page */
.select_package_id {
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid white;
}

.select_package_id:hover {
    cursor: pointer;
    border: 2px solid deepskyblue;
}

.plan_box:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.plan_box.selected {
    background-color: antiquewhite;
}

/* Package Page */
#banner{
    height: 250px;
    width: 100%;
    background: grey;
}